<!--    connecting header using EJS layouts    -->
<%- include('partials/header'); -%>

<h1>Contact</h1>

<!-- connecting JS variable into HTML -->
<p><%= contactContent %></p>

<!--    connecting footer using EJS layouts     -->
<%- include('partials/footer'); -%>
