<!--    connecting header using EJS layouts    -->
<%- include('partials/header'); -%>

<h1><%= storedTitle %></h1>
<p><%= storedBody %></p>


<!--    connecting footer using EJS layouts     -->
<%- include('partials/footer'); -%>
